
<div class="list">
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
    <div class="address"><li>qwerty</li><img src="../../assets/navigation/baseline-delete_sweep-24px.svg" alt=""></div> 
</div>