li{
    list-style: none;
}

img{
    opacity: 0.3;
    transition-duration: 0.3s;
}

img:hover{
    opacity: 1;
}

.list{
    border: 2px solid black;
    height: 700px;
}

.address{
    border-bottom: 1px double darkgray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
    transition-duration: 0.65s;
}

.address:hover{
    background-color: lightgray;
}